@using Idigis.Web.States
@inherits BlazorStateComponent

<div id="ofertas" class="container">
    <div class="columns is-inline-mobile">

        <div class="column has-text-centered-mobile">
            <AddButton Text="Adicionar Oferta"/>
        </div>

        <div class="column">
            <Balance Type="Ofertas" Value=@($"{State.TotalOffersInMonth} R$") />
        </div>
    </div>
    <AddOfferModal/>
    <OfferList/>

</div>

@code {
    FinanceState State => Store.GetState<FinanceState>();
}