@page "/offer"
@layout AppLayout
@using Idigis.Web.States
@inherits BlazorStateComponent
@inject NavigationManager NavigationManager

<div class="container">
    <div class="columns is-inline-mobile">
        <div class="column has-text-centered-mobile">
            <AddButton Text="Adicionar Oferta"/>
        </div>
        <div class="column">
            <p class="has-text-right has-text-centered-mobile has-text-weight-bold">Ofertas do mês: @State.TotalOffersInMonth R$</p>
        </div>
    </div>
    <div class="columns">
        <div class="column mb-6">
            <div class="table-container">
                <table class="table is-fullwidth is-hoverable has-text-centered">
                    <thead>
                    <tr>
                        <th>Valor</th>
                        <th>Data</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var offer in State.Offers)
                    {
                        <tr>
                            <th>@offer.Value R$</th>
                            <td>20/04/2021</td>
                            <td>
                                <button class="button is-warning is-small" @onclick="() => HandleEditButton(offer)">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-pen"></i>
                                    </span>
                                </button>
                                <button class="button is-danger is-small" @onclick="() => HandleDeleteButton(offer)">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-eraser"></i>
                                    </span>
                                </button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<CascadingValue Value="this">
    <AddOfferModal/>
    <DeleteOfferModal/>
    @if (_showEditModal)
    {
        <EditOfferModal/>
    }
</CascadingValue>

@code {

    OfferState State => Store.GetState<OfferState>();
    ChurchState ChurchState => Store.GetState<ChurchState>();
    private bool _showEditModal;

    protected override async Task OnInitializedAsync()
    {
        await Mediator.Send(new ChurchState.LoadStateAction());
        if (!ChurchState.Authenticated)
        {
            NavigationManager.NavigateTo("signin");
        }
        await Mediator.Send(new ChurchState.LoadStateAction());
        await Mediator.Send(new OfferState.LoadOffersAction());
    }

    private async Task HandleEditButton(Models.Offer offer)
    {
        _showEditModal = true;
        await Mediator.Send(new OfferState.ToggleModalAction("Edit", offer));
    }

    private async Task HandleDeleteButton(Models.Offer offer)
    {
        await Mediator.Send(new OfferState.ToggleModalAction("Delete", offer));
    }

    public void Refresh()
    {
        StateHasChanged();
    }

}