<div class="container mt-5">
    <nav class=" navbar navbar-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="ml-4">
                <img src="img/logo.svg" width="130" alt="">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light is-warning is-outlined">
                            <span>Cadastre-se</span>
                        </a>
                        <a class="button is-light is-info is-outlined">
                            <span class="icon">
                                <i class="fas fa-sign-in-alt"></i>
                            </span>
                            <span>
                                <strong>Entrar</strong>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>