<p class="has-text-right has-text-centered-mobile has-text-weight-bold">@Type do mês: @Value</p>

@code {

    [Parameter]
    public string Type { get; set; }

    [Parameter]
    public string Value { get; set; }

}